<h1>Welcome to our website</h1>


<p>Today is <%= Date.today %>  </p>

<form action="/contact" method="get">
  <input type="text" name="member" placeholder="Who are you looking for?">
  <input type="submit">
</form>


<!-- er + tab = ruby code / does not appear to the user -->
<%  %>

<!-- pe + tab = ruby code / does appear to the user -->
<%=  %>
